* {
 margin: 0px;
 padding: 0px;
 font-family: sans-serif;
 box-sizing: border-box;
}


.nav {
  background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(171,6,15,1) 33%, rgba(82,0,0,1) 100%);
  position: fixed;
  top: 0px;
  width: 100%;
}

ul {
  position: relative;
}

nav ul li {
  position: relative;
  display: inline;
  
  
}

nav ul li a {
  text-decoration: none;
  display: inline;
  float: left;
  width: 20%;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

nav ul li a:hover {
  color: lightblue;
  font-size: 14px;
}

  


.main {
  margin-top: 36px;
  background-color: lightpink;
  padding: 50px 10px;
  width: 100%;
  background-image: url(/images/home.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;
  
  
}

.main h1 {
  font-size: 25px;
}

.main h1, .main p {
  text-shadow: 2px 2px 10px black;
}


.about {
  background-color: #f5e9e9;
  padding: 50px 10px;
  text-align: center;
  background-image: url(/images/logobg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.skills {
  background-color: #dbd0d0;
  padding: 50px 10px;
}

.projects {
  background-color: #f5e9e9;
  padding: 50px 10px;
}

.contact {
  background-color: #dbd0d0;
  padding: 50px 10px;
}

.about-box {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  margin-top: 10px;
}

.general {
  background-color: #9fc425;
  box-shadow: 2px 2px 7px;
  border: solid black 3px;
  border-radius: 10px;
  padding: 5px;
  margin: 0px;
  transition: scale 1s;
  flex-grow: 1.5;
  width:45%;
}

.general:hover {
  background-color: #63992e;
  transform: scale(1.02);

}

.education {
  background-color: #9fc425;
  box-shadow: 2px 2px 7px;
  border: solid black 3px;
  border-radius: 10px;
  padding: 5px;
  margin: 0px;
  transition: scale 1s;
  flex-grow: 1.5;
  width: 45%;
}

.education:hover {
  background-color: #63992e;
  transform: scale(1.02);

}

@media only screen and (max-width: 400px) {
  .general, .education {
    width: 100%;
  }
}

img {
  width: 40%;
  height: auto;
  display: block;
  margin: auto;
}

.intro {

}



.main button {
  position: relative;
  padding: 10px 20px;
  margin: 8px 0px;
  background-color: white; /* Inner background color */
  border: none; /* Remove default border */
  border-radius: 10px; /* Adjust as needed */
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
 
  z-index: 1; /* Ensure button is above the pseudo-element */
}

.main button::before {
  content: "";
  color: red;
  border-radius: 12px;
  background-image: linear-gradient(90deg, rgba(255,0,93,1) 6%, rgba(255,1,245,1) 48%);
  position: absolute;
  padding: 10px 21px;
  z-index: -2;
  left: -3px;
  top: -2px;
  bottom: -2px;
  right: -3px;
}

.main button::after {
  content: "";
  color: red;
  border-radius: 12px;
  background: white;
  position: absolute;
  padding: 10px 21px;
  z-index: -1;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.main button:hover::after  {
  background: black;
}
.main button:hover {
  color: white;
}

.main button:hover::before {
animation-name: rotate;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: linear;
}

@keyframes rotate {
  5% {
    background-image: linear-gradient(90deg, rgba(255,0,93,1) 6%, rgba(255,1,245,1) 48%);
  }
  10% {
    background-image: linear-gradient(110deg, rgba(255, 0, 93, 1) 6%, rgba(255, 1, 245, 1) 48%);
  }
  20% {
    background-image: linear-gradient(120deg, rgba(255, 0, 93, 1) 6%, rgba(255, 1, 245, 1) 48%);
  }
  25% {
    background-image: linear-gradient(140deg, rgba(255, 0, 93, 1) 6%, rgba(255, 1, 245, 1) 48%);
  }
  30% {
    background-image: linear-gradient(150deg, rgba(255, 0, 93, 1) 6%, rgba(255, 1, 245, 1) 48%);
  }
  40% {
    background-image: linear-gradient(170deg, rgba(255, 0, 93, 1) 6%, rgba(255, 1, 245, 1) 48%);
  }
  
  50% {
    background-image: linear-gradient(180deg, rgba(255,0,93,1) 6%, rgba(255,1,245,1) 48%);
  }
  60% {
    background-image: linear-gradient(190deg, rgba(255, 0, 93, 1) 6%, rgba(255, 1, 245, 1) 48%);
  }
  70% {
    background-image: linear-gradient(270deg, rgba(255, 0, 93, 1) 6%, rgba(255, 1, 245, 1) 48%);
  }
  80% {
    background-image: linear-gradient(300deg, rgba(255, 0, 93, 1) 6%, rgba(255, 1, 245, 1) 48%);
  }
  90% {
    background-image: linear-gradient(350deg, rgba(255, 0, 93, 1) 6%, rgba(255, 1, 245, 1) 48%);
  }
  100% {
    background-image: linear-gradient(450deg, rgba(255,0,93,1) 6%, rgba(255,1,245,1) 48%);
  }
}


@media only screen and (min-width: 400px) {
  .main h1 {
    font-size: 50px;
  }
  .main p {
    font-size: 35px;
  }
  .main {
    background-image: url(/images/homedesk.jpeg);
  }
  .main button {
    font-size: 35px;
    box-sizing: content-box;
  }
}